<form method="post" action="{{ path('app_payment_method_delete', {'id': payment_method.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette méthode de paiement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ payment_method.id) }}">
    <button class="btn btn-secondary rounded-md text-white mt-4">Supprimer</button>
</form>
