{% extends 'base.html.twig' %}

{% block title %}Méthode de paiement{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.4.6/dist/full.css" rel="stylesheet">
    <style>
        .half-width-table {
            width: 50%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="flex min-h-screen bg-gray-100">

        {% include 'parts/left_bar.html.twig' %}

        <!-- Main Content -->
        <div class="flex-1 p-6">
            <h1 class="text-2xl font-bold mb-4 text-center">Vos méthodes de paiment</h1>
            <div class="overflow-x-auto mt-10">
                <table class="table half-width-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% set has_payment_methods = false %}
                    {% for payment_method in payment_methods %}
                        {% if payment_method.user == app.user %}
                            {% set has_payment_methods = true %}
                            <tr>
                                <td>{{ payment_method.name }}</td>
                                <td>
                                    <a href="{{ path('app_payment_method_edit', {'id': payment_method.id}) }}" class="btn btn-primary rounded-md text-white">Update</a>
                                    <a href="{{ path('app_payment_method_delete', {'id': payment_method.id}) }}" class="btn btn-secondary rounded-md text-white">Delete</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% if not has_payment_methods %}
                        <tr>
                            <td colspan="5" class="text-center">Aucune méthode de paiement ajouté</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <a href="{{ path('app_payment_method_new') }}" class="btn btn-primary rounded-md text-white mt-4">Create new</a>
        </div>
    </div>
{% endblock %}
