{% extends 'base.html.twig' %}

{% block title %}Supprimer méthode de paiement{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.4.6/dist/full.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="flex min-h-screen bg-gray-100">

    <!-- Main Content -->
    <div class="flex-1 p-6 overflow-x-auto">
        <h1 class="text-2xl font-bold mb-4 text-center">Méthode de paiement</h1>

        <div class="overflow-x-auto mt-10">
            <table class="table w-full">
                <tbody>
                    <tr>
                        <th>Nom de la méthode</th>
                        <td>{{ payment_method.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a href="{{ path('app_payment_method_index') }}" class="btn btn-primary rounded-md text-white mt-4">Retourner à la liste des méthodes de paiement</a>

        {{ include('payment_method/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
